/* :root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --background-grey: #2f303a;
  --team-section-background: #f5f4fa;
  --address-link-color: rgba(255, 255, 255, 60%);
  --logo-color: #afb1b8;
  --transition-prop: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --input-color: #000000;
  --header-line-color: #eeeeee;
  --footer-input-color: rgba(255, 255, 255, 0.3);
  --modal-input-color: rgba(33, 33, 33, 0.2);
  --projects-overlay-bg-color: rgba(33, 150, 243, 0.9);
} */

/* .body {
  background-color: var(--white-color);
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
} */

/* ul {
  padding: 0;
  margin: 0;
  list-style: none;
} */

/* h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
} */

/* .container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
} */

/* .title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
} */

/* .hidden__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/* Логотип */

/* .logo {
  margin-right: 93px;

  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
} */

/* .logo__part {
  color: var(--title-text-color);
} */

/* .button--primary {
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;

  background-color: var(--accent-color);
  color: var(--white-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;

  cursor: pointer;
  transition: box-shadow var(--transition-prop);
} */

/* Навигация */

/* .header__content {
  display: flex;
  align-items: center;
} */

/* .navigation {
  display: flex;
} */

/* .navigation__item:not(:last-child) {
  margin-right: 50px;
} */

/* .navigation__link {
  position: relative;
  display: block;
  padding: 32px 0;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;

  transition: color var(--transition-prop);
} */
/* 
.navigation__link--current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
} */

/* .navigation__link:hover,
.navigation__link:focus,
.navigation__link.current {
  color: var(--accent-color);
} */

/* .contacts {
  display: flex;
  margin-left: auto;
} */

/* .contacts__item:not(:last-child) {
  margin-right: 50px;
} */

/* .contacts__item .contacts__link {
  display: flex;
  align-items: center;

  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;

  transition: color var(--transition-prop);
} */

/* .contacs__icon {
  margin-right: 10px;

  fill: currentColor;
} */

/* .contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
} */

/* .header {
  border-bottom: 1px solid var(--header-line-color);
} */

/* Герой */

/* .hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;

  background-color: var(--background-grey);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bgi-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-grey);
  text-align: center;
} */

/* .hero__title {
  margin-bottom: 30px;

  color: var(--white-color);
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
} */

/* Описание и наша команда */

/* .description {
  padding: 94px 0 47px;
} */

/* .description__list {
  display: flex;
  justify-content: space-between;
} */

/* .description__item {
  width: 270px;
} */

/* .description__image {
  padding: 25px 100px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: var(--team-section-background);
} */

/* .description__subtitle {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
} */

/* .description__text {
  font-size: 14px;
  line-height: 1.7;
} */

/* .about {
  padding: 47px 0 94px;
} */

/* .about__list {
  display: flex;
  justify-content: space-between;
} */

/* .about__item {
  position: relative;
  max-width: 100%;
  height: auto;
  display: block;
} */

/* .about__image {
  display: block;
} */

/* .about__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
} */

/* .about__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--white-color);
} */

/* .team {
  padding: 94px 0;

  background-color: var(--team-section-background);
} */

/* .team__list {
  display: flex;
  text-align: center;
} */

/* .team__item {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
} */

/* .team__item:not(:last-child) {
  margin-right: 30px;
} */

/* .team__subtitle {
  padding: 30px 0;
} */

/* .team__name {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
} */

/* .team__position {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.2;
} */

/* .social {
  display: flex;
  justify-content: center;
} */

/* .social__item {
  margin-right: 10px;
} */

/* .social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  display: block;
  padding: 12px 12px;

  fill: var(--logo-color);

  transition: background-color var(--transition-prop),
    fill var(--transition-prop);
} */

/* .team__item .social__link:hover,
.team__item .social__link:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
} */

/* Постоянные клиенты */

/* .clients {
  padding: 94px 0;
} */

/* .clients__list {
  display: flex;
} */

/* .clients__item {
  margin-right: 30px;
} */

/* .client__link {
  display: block;
  padding: 16px 32px;
  border: 1px solid;
  border-color: var(--logo-color);
  border-radius: 4px;

  fill: var(--logo-color);

  transition: fill var(--transition-prop), border-color var(--transition-prop);
} */

/* .client__link:hover,
.client__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
} */

/* Футер */
/* .footer {
  padding: 60px 0;

  background-color: var(--background-grey);
} */

/* .footer .container {
  display: flex;
} */

/* .footer__info {
  margin-right: 70px;
} */

/* .footer__logo {
  margin-bottom: 20px;
} */

/* .footer .logo__part {
  color: var(--white-color);
} */

/* .footer__item {
  margin-bottom: 9px;
} */

/* .footer a {
  text-decoration: none;
  font-style: normal;
} */

/* .footer__link {
  text-decoration: none;
  font-style: normal;
  color: var(--address-link-color);
  font-family: inherit;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;

  transition: color var(--transition-prop);
} */

/* .footer__link:hover,
.footer__link:focus {
  color: var(--accent-color);
} */

/* .footer__link.footer__map {
  color: var(--white-color);
} */

/* .footer__join {
  margin-top: 12px;
} */

/* .footer__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--white-color);
} */

/* .footer .social__link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);

  transition: background-color var(--transition-prop);
} */

/* .footer .social__link:hover,
.footer .social__link:focus {
  background-color: var(--accent-color);
} */

/* .footer__subscribe {
  margin-left: auto;
  margin-top: 12px;
} */

/* .footer__form {
  display: flex;
} */

/* .footer__form .button--primary {
  display: flex;
  align-items: center;
} */

/* .footer__icon {
  margin-left: 10px;
} */

/* .footer__input {
  display: inline-block;
  min-width: 358px;
  margin-right: 12px;
  padding: 15px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline-style: none;

  background-color: transparent;
  color: var(--footer-input-color);
} */

/* Модальное окно */

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms ease-in-out;
} */

/* .is-hidden {
  opacity: 0;
  pointer-events: none;
} */

/* .backdrop.is-hidden .modal {
  transform: scale(0.7);
} */

/* .modal {
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  position: relative;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 300ms ease-in-out;

  background-color: var(--white-color);
} */

/* .modal__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
} */

/* .modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  justify-content: center;
  align-items: center;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);

  cursor: pointer;
  transition: fill var(--transition-prop);
} */

/* .modal__close:hover,
.modal__close:focus {
  fill: var(--accent-color);
} */

/* .feedback__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
} */

/* .feedback__label {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
} */

/* .feedback__group-absolute {
  position: relative;
} */

/* .feedback__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transition-prop);
} */

/* .feedback__input {
  width: 100%;
  padding: 11px 12px 11px 42px;
  border: 1px solid var(--modal-input-color);
  outline: none;
  border-radius: 4px;

  color: var(--input-color);

  transition: border var(--transition-prop);
} */

/* .feedback__input:focus {
  border: 1px solid var(--accent-color);
} */

/* .feedback__input:focus + .feedback__icon {
  fill: var(--accent-color);
} */

/* .feedback__textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
} */

/* .feedback__field {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
} */

/* .feedback__textarea .feedback__comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
} */

/* .feedback__comment {
  min-height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid var(--modal-input-color);
  border-radius: 4px;
  outline: none;
  color: var(--input-color);

  transition: border var(--transition-prop);
} */

/* .feedback__comment:focus {
  border: 1px solid var(--accent-color);
} */

/* .agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
} */

/* .agreement__checkbox {
  appearance: none;
  position: absolute;
} */

/* .agreement__icon {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition: background-color var(--transition-prop),
    background-image var(--transition-prop);
  cursor: pointer;
} */

/* .agreement__checkbox:checked + .agreement__icon {
  padding: 4px 3px;
  background-image: url(../images/mark.svg);
  background-color: var(--accent-color);
  background-position: center;
  background-repeat: no-repeat;

  border: none;
} */

/* .agreement__label {
  display: flex;
  align-items: center;
  margin-right: 3px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
} */

/* .agreement__link {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-skip-ink: none;
} */

/* .feedback .button--primary {
  display: block;
  margin: 0 auto;
} */

/* .feedback .button--primary:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */

/* Портфолио */

/* .projects {
  padding: 94px 0;
} */

/* .buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
} */

/* .buttons__item:not(:last-child) {
  margin-right: 8px;
} */

/* .buttons__secondary {
  padding: 6px 22px;

  background-color: var(--team-section-background);
  color: var(--title-text-color);
  border-color: transparent;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;

  transition: background-color var(--transition-prop),
    color var(--transition-prop), box-shadow var(--transition-prop);
} */

/* .buttons__secondary:hover,
.buttons__secondary:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */

/* .projects__list {
  display: flex;
  flex-wrap: wrap;
} */

/* .projects__item {
  margin: 0 30px 30px 0;

  border-radius: 0px 0px 4px 4px;

  transition: box-shadow var(--transition-prop);
} */

/* .projects__item:hover,
.projects__item:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
} */

/* .projects__item:nth-child(3n) {
  margin-right: 0;
} */

/* .projects__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */

/* .projects__list a {
  text-decoration: none;
} */

/* .projects__title {
  margin: 0 0 4px 0;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
} */

/* .projects__type {
  color: var(--main-text-color);
  line-height: 1.9;
} */

/* .projects__image {
  position: relative;
  overflow: hidden;
} */

/* .projects__thumb {
  display: block;
} */

/* .projects__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: var(--projects-overlay-bg-color);
  transform: translateY(100%);
  transition: transform var(--transition-prop);
} */

/* .projects__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  color: var(--white-color);
} */

/* .projects__item:hover .projects__overlay {
  transform: translateY(0);
} */

/* .projects__subtitle {
  border: 1px solid var(--header-line-color);
  padding: 20px 24px;
} */
