.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list__link {
  color: rgba($secondary-color, 0.6);
  font-family: inherit;
  font-size: 14px;
  line-height: 1.7;

  transition: color $transition-prop;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.address-list__link--map {
  @extend .address-list__link;
  color: $secondary-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
