.clients {
  padding: 94px 0;
}

.clients__list {
  display: flex;
}

.clients__item {
  margin-right: 30px;
}

.client__link {
  display: block;
  padding: 16px 32px;
  border: 1px solid;
  border-color: $logo-color;
  border-radius: 4px;

  fill: $logo-color;

  transition: fill $transition-prop, border-color $transition-prop;

  &:hover,
  &:focus {
    fill: $accent-color;
    border-color: $accent-color;
  }
}
