.clients {
  display: flex;
}

.clients__item {
  margin-right: 30px;
}

.client__link {
  display: block;
  padding: 16px 32px;
  border: 1px solid;
  border-color: $secondary-color-shadow-var2;
  border-radius: 4px;

  fill: $secondary-color-shadow-var2;

  transition: fill $transition-prop, border-color $transition-prop;

  &:hover,
  &:focus {
    fill: $accent-color;
    border-color: $accent-color;
  }
}
