.description-list {
  display: flex;
  justify-content: space-between;
}

.description-list__item {
  width: 270px;
}

.description-list__image {
  padding: 25px 100px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: $secondary-color-shadow;
}

.description-list__title {
  margin-bottom: 10px;

  color: $main-color-shadow-var2;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

.description-list__text {
  font-size: 14px;
  line-height: 1.7;
}
