.feedback__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.feedback__label {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

.feedback__group-absolute {
  position: relative;
}

.feedback__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill $transition-prop;
}

.feedback__input {
  width: 100%;
  padding: 11px 12px 11px 42px;
  border: 1px solid $modal-input-color;
  outline: none;
  border-radius: 4px;

  color: $input-color;

  transition: border $transition-prop;

  &:focus {
    border: 1px solid $accent-color;
  }
}

.feedback__input:focus + .feedback__icon {
  fill: $accent-color;
}

.feedback__textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.feedback__field {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

.feedback__textarea .feedback__comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.feedback__comment {
  min-height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid $modal-input-color;
  border-radius: 4px;
  outline: none;
  color: $input-color;

  transition: border $transition-prop;

  &:focus {
    border: 1px solid $accent-color;
  }
}

.agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.agreement__checkbox {
  appearance: none;
  position: absolute;
}

.agreement__icon {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid $title-text-color;
  border-radius: 2px;
  transition: background-color $transition-prop,
    background-image $transition-prop;
  cursor: pointer;
}

.agreement__checkbox:checked + .agreement__icon {
  padding: 4px 3px;
  background-image: url(../../images/mark.svg);
  background-color: var(--accent-color);
  background-position: center;
  background-repeat: no-repeat;

  border: none;
}

.agreement__label {
  display: flex;
  align-items: center;
  margin-right: 3px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.agreement__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-skip-ink: none;

  color: $accent-color;
}

.feedback .button--primary {
  display: block;
  margin: 0 auto;

  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
