.footer {
  padding: 60px 0;

  background-color: $background-grey;

  .container {
    display: flex;
  }

  .footer__info {
    margin-right: 70px;
  }

  .logo__part {
    color: $white-color;
  }
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__item {
  margin-bottom: 9px;
}

.footer__link {
  text-decoration: none;
  font-style: normal;
  color: $address-link-color;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.7;

  transition: color $transition-prop;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &.footer__map {
    color: $white-color;
  }
}
