.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;

  background-color: $main-color-shadow;
  background-image: linear-gradient(
      to right,
      rgba($main-color-shadow, 0.4),
      rgba($main-color-shadow, 0.4)
    ),
    url(../images/bgi-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.hero__title {
  margin-bottom: 30px;

  color: $secondary-color;
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
}
