.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

.input-field__group-absolute {
  position: relative;
}

.input-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill $transition-prop;
}

.input-field__input {
  width: 100%;
  padding: 11px 12px 11px 42px;

  @include bordered(rgba($main-color-shadow-var2, 0.2));
  outline: none;
  border-radius: 4px;

  color: $main-color;

  transition: border $transition-prop;

  &:focus {
    @include bordered($accent-color);
  }

  &:focus + .input-field__icon {
    fill: $accent-color;
  }
}
