.footer__join {
  margin-top: 12px;
}

.footer__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: $white-color;
}

.footer {
  .social__link {
    background-color: rgba(255, 255, 255, 0.1);
    fill: $white-color;

    &:hover,
    &:focus {
      background-color: $accent-color;
    }
  }
}
