.social {
  display: flex;
  justify-content: center;
}

.social__item {
  margin-right: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  display: block;
  padding: 12px 12px;

  fill: $secondary-color-shadow-var2;

  transition: background-color $transition-prop, fill $transition-prop;

  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: $secondary-color;
  }
}

.social__link--background {
  @extend .social__link;
  background-color: rgba($secondary-color, 0.1);
  fill: $secondary-color;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
