.footer-subscribe {
  margin-left: auto;
  margin-top: 12px;
}

.footer-subscribe__form {
  display: flex;
}

.footer-subscribe__input {
  display: inline-block;
  min-width: 358px;
  margin-right: 12px;
  padding: 15px 16px;

  @include bordered(rgba($secondary-color, 0.3));
  border-radius: 4px;
  outline-style: none;

  background-color: transparent;
  color: rgba($secondary-color, 0.3);
}
