.textarea-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .textarea-field__input::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba($main-color-shadow-light, 0.502);
  }
}

.textarea-field__input {
  min-height: 120px;
  padding: 12px 16px;
  resize: none;

  @include bordered(rgba($main-color-shadow-var2, 0.2));
  border-radius: 4px;
  outline: none;
  color: $main-color;

  transition: border $transition-prop;

  &:focus {
    @include bordered($accent-color);
  }
}
