.body {
  background-color: $secondary-color;
  color: $main-color-shadow-light;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

.title {
  margin-bottom: 50px;

  color: $main-color-shadow-var2;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.hidden__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.description {
  padding: 94px 0 47px;
}
