.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  margin-bottom: 50px;

  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.hidden__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  margin-right: 93px;

  color: $accent-color;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo__part {
  color: $title-text-color;
}

.button--primary {
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;

  background-color: $accent-color;
  color: $white-color;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;

  cursor: pointer;
  transition: box-shadow $transition-prop;
}

.social {
  display: flex;
  justify-content: center;
}

.social__item {
  margin-right: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  display: block;
  padding: 12px 12px;

  fill: $logo-color;

  transition: background-color $transition-prop, fill $transition-prop;

  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: $white-color;
  }
}
