$main-color: #000000;
$main-color-shadow: #2f303a;
$main-color-shadow-light: #757575;
$main-color-shadow-var2: #212121;
$main-color-shadow-var3: #eeeeee;
$secondary-color: #ffffff;
$secondary-color-shadow: #f5f4fa;
$secondary-color-shadow-var2: #afb1b8;
$accent-color: #2196f3;

$transition-prop: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$box-shadow: 0px 1px 3px rgba($main-color, 0.12),
  0px 1px 1px rgba($main-color, 0.14), 0px 2px 1px rgba($main-color, 0.2);
